@import url(http://fonts.googleapis.com/css?family=Raleway:200,600,700,400);
@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'codropsicons';
  src: url('../fonts/codropsicons/codropsicons.eot');
  src: url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'), url('../fonts/codropsicons/codropsicons.woff') format('woff'), url('../fonts/codropsicons/codropsicons.ttf') format('truetype'), url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
  content: '';
  display: table;
}

.clearfix:after {
  clear: both;
}

a,
button {
  color: #74716D;
  text-decoration: none;
  outline: none;
}

a:hover,
a:focus {
  color: #c94e50;
  outline: none;
}

button {
  padding: 1em 2em;
  outline: none;
  font-weight: 600;
  border: none;
  color: #fff;
  background: #c94e50;
  display: none;
}

.content {
  max-width: 1000px;
  padding: 0 1em;
  margin: 0 auto;
  text-align: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.button-wrap {
  padding: 2.5em 0 0;
  font-size: 1.25em;
}

button.trigger {
  background: #c94e50;
  color: #fff;
  border: none;
}

.menu {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.menu:before,
.menu:after {
  content: '';
  display: table;
}

.menu:after {
  clear: both;
}

.menu>div {
  flex: auto;
  text-align: left;
  margin: 0.25em;
  padding: 2em 3em;
  background: rgba(255, 255, 255, 0.2);
}

.menu h2 {
  margin: 0 0 0.25em;
  padding: 0 0 0.25em;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 72.25%;
  color: #9BA890;
}

.menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.menu ul:not(:last-of-type) {
  padding-bottom: 2em;
}

.menu ul li a {
  display: block;
  font-weight: bold;
  padding: 0.25em 0;
  font-size: 145%;
}

.menu ul li a.current-demo {
  color: #fff;
}

/* Header */

.codrops-header {
  padding: 2.75em 0 3em;
  letter-spacing: -1px;
}

.codrops-header h1 {
  font-size: 3.65em;
  line-height: 1;
  margin: 0;
}

.codrops-header h1 span {
  display: block;
  width: 15em;
  font-size: 21%;
  padding: 1em 0;
  margin: 0 auto;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
}

.codrops-header h1 span::before,
.codrops-header h1 span::after {
  content: '';
  position: absolute;
  width: 25%;
  height: 2px;
  top: 50%;
  margin-top: -1px;
  background: #c94e50;
}

.codrops-header h1 span::before {
  right: 100%;
}

.codrops-header h1 span::after {
  left: 100%;
}

/* To Navigation Style */

.codrops-links {
  text-transform: uppercase;
  font-size: 1.25em;
  font-weight: 200;
}

.codrops-links a {
  display: inline-block;
  padding: 0.5em 0;
  margin: 0.5em;
  text-decoration: none;
  letter-spacing: 1px;
}

.codrops-icon span {
  display: none;
}

.codrops-icon:before {
  margin: 0 4px;
  text-transform: none;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  font-family: 'codropsicons';
  line-height: 1;
  speak: none;
  -webkit-font-smoothing: antialiased;
}

.codrops-icon-drop:before {
  content: "\e001";
}

.codrops-icon-prev:before {
  content: "\e004";
}

/* Related demos */

.related {
  margin-top: 8em;
  clear: both;
  padding: 1em 0 20em;
  font-weight: bold;
}

.related>a {
  display: inline-block;
}

.icon {
  display: inline-block;
  font: normal normal normal 14px/1 icon;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-diandian:before {
  content: "\e63a";
}

.icon-huaban:before {
  content: "\e63c";
}

.icon-code-fork:before {
  content: "\e67a";
}

.icon-more:before {
  content: "\e6c0";
}

.icon-zhihu:before {
  content: "\e6d1";
}

.icon-linkedin:before {
  content: "\e724";
}

.icon-eye-fill:before {
  content: "\e64f";
}

.icon-stackexchange:before {
  content: "\e8b2";
}

.icon-tag:before {
  content: "\e6a3";
}

.icon-starfish:before {
  content: "\e62e";
}

.icon-home:before {
  content: "\e660";
}

.icon-search:before {
  content: "\e61c";
}

.icon-project:before {
  content: "\e63e";
}

.icon-dialog:before {
  content: "\e613";
}

.icon-twitter:before {
  content: "\ec9c";
}

.icon-github:before {
  content: "\e70a";
}

.icon-time:before {
  content: "\e669";
}

.icon-voice:before {
  content: "\e65a";
}

.icon-google:before {
  content: "\e601";
}

.icon-weibo:before {
  content: "\e64b";
}

.icon-segmentfault:before {
  content: "\e610";
}

.icon-star-fill:before {
  content: "\e630";
}

.icon-phone:before {
  content: "\e68a";
}

.icon-cup-fill:before {
  content: "\e614";
}

.icon-jiaju:before {
  content: "\e671";
}

.icon-qzone:before {
  content: "\e603";
}

.icon-home-fill:before {
  content: "\e617";
}

.icon-clock:before {
  content: "\e618";
}

.icon-file:before {
  content: "\e66f";
}

.icon-comment:before {
  content: "\e61a";
}

.icon-cup:before {
  content: "\e62c";
}

.icon-share:before {
  content: "\e66a";
}

.icon-star-half:before {
  content: "\e62f";
}

.icon-star:before {
  content: "\e619";
}

.icon-tencent-weibo:before {
  content: "\e602";
}

.icon-book:before {
  content: "\e79d";
}

.icon-bitbucket:before {
  content: "\e64e";
}

.icon-facebook:before {
  content: "\e6e3";
}

.icon-email:before {
  content: "\e667";
}

.icon-zcool:before {
  content: "\e60c";
}

.icon-social-media:before {
  content: "\e68b";
}

.icon-douban:before {
  content: "\e60f";
}

.icon-coding:before {
  content: "\e600";
}

.icon-github-fill:before {
  content: "\e71d";
}

.icon-qq:before {
  content: "\e611";
}

.icon-shu-fill:before {
  content: "\e615";
}

.icon-pinterest:before {
  content: "\e697";
}

.icon-tags:before {
  content: "\e6c4";
}

.icon-bill:before {
  content: "\e61b";
}

.icon-shu:before {
  content: "\e616";
}

.icon-book-shelf:before {
  content: "\e60d";
}

.icon-target:before {
  content: "\e695";
}

.icon-profile:before {
  content: "\e6e2";
}

.icon-alipay:before {
  content: "\e938";
}

.icon-skype:before {
  content: "\e604";
}

.icon-juejin:before {
  content: "\e605";
}

.icon-code:before {
  content: "\e73f";
}

.icon-list:before {
  content: "\e61e";
}

.icon-map-marker:before {
  content: "\e609";
}

.icon-stackoverflow:before {
  content: "\e606";
}

.icon-hourglass:before {
  content: "\e60e";
}

.icon-behance:before {
  content: "\e67b";
}

.icon-folder-open:before {
  content: "\e6b4";
}

.icon-folder:before {
  content: "\e60a";
}

.icon-menu:before {
  content: "\e607";
}

.icon-users:before {
  content: "\e60b";
}

.icon-eye:before {
  content: "\e657";
}

.icon-wechat:before {
  content: "\e65e";
}

.icon-number:before {
  content: "\e658";
}

.icon-gitlab:before {
  content: "\e67c";
}

.icon-rss:before {
  content: "\e63d";
}

.icon-archives:before {
  content: "\e62d";
}

.icon-68design:before {
  content: "\e608";
}

.icon-dribble:before {
  content: "\e982";
}

.icon-wepay:before {
  content: "\e629";
}

.icon-youdao-note:before {
  content: "\e8a6";
}

.icon-book-fill:before {
  content: "\e659";
}

.icon-hezuo:before {
  content: "\e6e5";
}

.icon-link:before {
  content: "\e635";
}

.icon-archives-fill:before {
  content: "\e694";
}

.icon-anchor:before {
  content: "\e858";
}

.icon-angle-down:before {
  content: "\e85e";
}

.icon-angle-left:before {
  content: "\e85f";
}

.icon-angle-up:before {
  content: "\e860";
}

.icon-angle-right:before {
  content: "\e862";
}

.icon-calendar:before {
  content: "\e895";
}

.icon-calendar-check:before {
  content: "\e896";
}

.icon-calendar-minus:before {
  content: "\e897";
}

.icon-calendar-plus:before {
  content: "\e899";
}

.icon-calendar-times:before {
  content: "\e89a";
}

.icon-close:before {
  content: "\e8c4";
}

.icon-delicious:before {
  content: "\e8e2";
}

.icon-plus:before {
  content: "\e99d";
}

.icon-gg:before {
  content: "\e6fd";
}

.icon-friendship:before {
  content: "\e612";
}

.main {
  position: relative;
  min-height: 100vh;
  padding: 15px;
}

.main:before,
.main:after {
  content: " ";
  display: table;
}

.main:after {
  clear: both;
}

/*
 * Main content
 */

.main .pager {
  text-align: left;
  margin: 10px 0;
}

.main .pager .disabled {
  cursor: not-allowed;
}

.main .pager>a,
.main .pager>.page-number {
  line-height: 32px;
  float: left;
}

.main .pager a {
  color: #666;
  border: 0;
  line-height: 32px;
  padding: 0;
}

.main .pager a:link,
.main .pager a:visited {
  background-color: transparent;
}

.main .pager a:hover {
  color: #0a6ebd;
  background-color: transparent;
}

.main .pager .prev {
  margin-right: 10px;
}

.main .pager .page-number.current {
  color: #2196f3;
}

.main .pager .page-number+.page-number {
  margin-left: 10px;
}

.main .pager .page-number+.next {
  margin-left: 10px;
}

.main .total-article {
  margin: 10px 0;
  line-height: 32px;
  color: #999;
}

.main .page-header {
  margin-top: 0;
}

.main .article-list article {
  border-bottom: 1px solid #f2f2f2;
}

.main .article-list article:last-child {
  border-bottom: 0;
}

.main .article-meta {
  font-size: 13px;
  color: #999;
}

.main .article-meta a {
  color: #999;
}

.main .article-meta a:hover {
  color: #0a6ebd;
  text-decoration: none;
}

.main .article-meta span+span {
  margin-left: 10px;
}

.main .content {
  min-height: 85vh;
}

.main.has-sticky .content {
  margin-bottom: 70px;
}